body {
  margin: 0;
  background-color: #f1e9e9;
}
.complete {
  margin: 80px;
}
/* ------ Navbar ------ */
.ultop {
  overflow: hidden;
  background-color: #525b3b;
  text-align: center;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1000;
}
ul li {
  list-style-type: none;
  display: inline-block;
}
ul li a {
  display: block;
  color: #efd2b0;
  text-align: center;
  padding: 15px 30px 15px 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.ultop a:hover {
  color: #525b3b;
  background: #efd2b0;
  opacity: 0.7;
}
.ulbot {
  overflow: hidden;
  background-color: #525b3b;
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
.ulbot a:hover {
  color: #525b3b;
  background: #efd2b0;
  opacity: 0.7;
}
a.active {
  background: #98a078;
}

/* ------ header ------- */
.tete {
  display: flex;
  padding: 0 auto;
  margin-top: 55px;
}
.logo {
  display: absolute;
  height: 90px;
}
.slogan {
  display: absolute;
  margin: 0 auto;
  text-align: right;
  font-size: 200%;
}

/* ------ Article ------ */
.chap {
  display: flex;
  font-weight: bold;
}
.article1 {
  transform: translateY(90px);
}
.article2 {
  transform: translateY(90px);
}
.article3 {
  transform: translateY(90px);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
  justify-content: center;
}
.text-1 h2,
p {
  text-align: center;
}
.text-2 h2,
p {
  text-align: center;
}
.text-3 h2,
p {
  text-align: center;
}
.text-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "img2 p2"
  "img1 p1";
}
.text-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.imgtext2{
  grid-area: img2;
}
.article2 {
  grid-area: p2;
}
.imgtext1 {
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}
.imgtext2 {
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}
.imgtext3 {
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;  
}
/* ------ Bar separation ------ */
hr {
  height: 1px;
  background-color: lightgrey;
  border: none;
}

/* ------ Social ------ */
.socialmedia {
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
.fa {
  padding: 5px;
  font-size: 20px;
  width: 10px;
  border-radius: 20%;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #98a078;
  color: #efd2b0;
}
.fa-instagram {
  background: #98a078;
  color: #efd2b0;
}
.fa-twitter {
  background: #98a078;
  color: #efd2b0;
}
.fa-youtube {
  background: #98a078;
  color: #efd2b0;
}

/* ------ Promotion ------ */
.img1 {
  width: 100%;
  border: 3px solid #525b3b;
}

/* ------ table ------ */
.table1 {
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
}

/* ------ column ------ */
.withColumn{
  display: grid;
  grid-template-columns: 80% 20%;
}
.column {
  background-color: lightgrey;
}

/* ------ Responsive ------ */
@media screen and (max-width: 768px) {
  .global {
    font-size: 1.3em;
  }
  /* Navbar */
  li {
    list-style-type: none;
    display: block;
  }
  nav {
    font-size: 1.3em;
    background-color: black;
    padding: 1px;
    z-index: 1000;
  }
  nav a:hover {
    background-color: #5a5766;
  }
.ultop li{
  display: block;
  background: none;
}

  /* Header */
  .tete {
    display: block;
    padding: 0 auto;
  }

  /* Article */
  p {
    text-align: center;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  .imgtext1,
  .imgtext2,
  .imgtext3 {
    display: none;
    float: right;
  }
  .blockText{
  text-align: center;
}
  /* footer */
  footer {
    font-size: 1.3em;
    background-color: black;
    padding: 1px;
    z-index: 1;
  }
  footer a:hover {
    background-color: #5a5766;
  }
  .ulbot li{
    display: block;
    background: none;
  }
  /* table */
  .table1 thead {
    display: none;
  }
  .table1 td {
    display: block;
    text-align: center;
  }
  .table1 {
    display: flex;
    justify-content: center;
  }
[class*="text-"]{
  text-align: center;
  display: flex;
}
/* bar sepa */
hr {
  display: none;
}

/* Column */
.column {
  display: none;
}
}
